<robot name="r1_mini" xmlns:xacro="https://ros.org/wiki/xacro">
    <link name="lidar">
        
    </link>
    <joint name="lidar_joint" type="fixed">
        <origin xyz="${lidar_x} ${lidar_y} ${lidar_z}" rpy="0.0 0.0 0.0"/>
        <parent link="chassis_link"/>
        <child link="lidar"/>
    </joint>

    <gazebo reference="lidar">
        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>
            <topic>${namespace}/lidar</topic>
            <gz_frame_id>lidar</gz_frame_id>
        </sensor>
    </gazebo>
</robot>